---
const { project } = Astro.props;
---

<a>
    <a>
        <button class="project-container">
            <div class="metadata">
                <p class="title">{project.title}</p>
                {
                    project.frontmatter.site ? (
                        <a href={project.frontmatter.site}>Demo site</a>
                    ) : null
                }
                <div class="links">
                    <a>{project.frontmatter.techstack}</a>
                    <a href={project.githublink1}>Repo</a>
                </div>
                <a class="md-link" href={project.url}>
                    <img
                        class="preview"
                        src={project.frontmatter.preview}
                        alt="project preview"
                    />
                </a>
            </div>
        </button>
    </a>

    <style>
        .project-container {
            padding: 2%;
            border: 5px solid pink;
            border-radius: 5em;
            text-align: center;
            background: none;
        }

        .metadata {
            display: flex;
            flex-flow: column;
        }

        .title {
            font-weight: bold;
        }

        .stack {
            font-size: small;
            padding: 5%;
        }

        .preview {
            border: 2px solid pink;
            border-radius: 5em;
        }

        .md-link {
            padding: 5%;
        }

        .links {
            padding: 5px;
        }
    </style>
</a>
