---
const { project } = Astro.props;
---

<div class="project-container">
    <div class="metadata">
        <p class="title">{project.title}</p>
        <p class="stack">{project.frontmatter.techstack}</p>
        <div class="links">
            <a>Repo links:</a>
            <a href={project.githublink1}>Frontend</a>
            <a href={project.githublink2}>Backend</a>
        </div>
        <img class="preview" src={project.frontmatter.preview} alt="project preview">
    </div>
</div>

<style>
    .project-container {
        padding: 2%;
        border: 5px solid pink;
        border-radius: 5em;
        text-align: center;
    }

    .metadata {
        padding: 2%;
    }

    .title {
        font-weight: bold;
    }

    .stack {
        font-size: small;
    }

    .preview {
        border: 2px solid pink;
        border-radius: 5em;
    }

    .links {
        padding-bottom: 2%;
    }
</style>