---
const { project } = Astro.props;
---
<a href={project.url}>
    <button class="project-container">
        <div class="metadata">
            <p class="title">{project.title}</p>
            <p class="stack">{project.frontmatter.techstack}</p>
            <div class="links">
                <a>Repo links:</a>
                <a href={project.githublink1}>Frontend</a>
                <a href={project.githublink2}>Backend</a>
            </div>
            <img class="preview" src={project.frontmatter.preview} alt="project preview">
        </div>
    </button>
</a>

<style>
    .project-container {
        padding: 2%;
        border: 5px solid pink;
        border-radius: 5em;
        text-align: center;
        background: none;
    }

    .metadata {
        padding: 5%;
        display: flex;
        flex-flow: column;
    }

    .title {
        font-weight: bold;
    }

    .stack {
        font-size: small;
    }

    .preview {
        border: 2px solid pink;
        border-radius: 5em;
    }

    .links {
        padding-bottom: 5%;
    }
</style>