---
const { project } = Astro.props;
---

<div class="container">
    <h2>{project.title}</h2>
    <p>{project.frontmatter.techstack}</p>
    <a href={project.githublink1}>Frontend</a>
    <a href={project.githublink2}>Backend</a>
    <div class="gif-wrapper">
        <img src={project.frontmatter.preview} alt="project preview">
    </div>
</div>

<style>
    .container {
        border-bottom-color: white;
    }
    .gif-wrapper {
        padding: 10;
    }
</style>