---
import Nav from "../components/Nav.astro";
import MainHead from "../components/MainHead.astro";
import Footer from "../components/Footer.astro";
import BlogMetrics from "../components/BlogMetrics";
import PocketBase from "pocketbase";

const { frontmatter } = Astro.props;

// Initialize blog data

const blog_data = {
  slug: frontmatter.slug,
  likes: 0,
  views: 0,
};

// query db
const pb_url = import.meta.env.PB_URL;

const pb_client = new PocketBase(pb_url);

const record = await pb_client
  .collection("blog")
  .getList(1, 1, { filter: `slug='${frontmatter.slug}'` });

if (record.items.length === 0) {
  // Create record
  const new_record = await pb_client.collection("blog").create(blog_data);
  blog_data.blog_id = new_record.id;
} else {
  blog_data.blog_id = record.items[0].id;
  blog_data.likes = record.items[0].likes;
  blog_data.views = record.items[0].views;
}
---

<head>
  <MainHead title={frontmatter.title} />
  <title>{frontmatter.title}</title>
</head>
<body class="bg-zinc-200 dark:bg-zinc-900 text-black dark:text-white">
  <Nav />
  <div class="px-8 md:px-20 lg:px-30 xl:px-70 2xl:px-80">
    <BlogMetrics client:load blog_data={blog_data} pb_url={pb_url} />
    <p class="text-center font-bold">{frontmatter.title}</p>
    <slot />
  </div>
  <Footer />
</body>
